<h1>Add Rewards & Options</h1>
<h1>Add Rewards & Options</h1>

<%= form_with model: @project, url: wizard_path, method: :put do |f| %>
  <h5>Option </h5>
  <div class="field">
    <%= f.label :option2_title, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :option2_title %>
  </div>
  <div class="field">
    <%= f.label :option2_amount, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :option2_amount %>
  </div>
  <div class="field">
    <%= f.label :option2_details, class: "col-sm-2 col-form-label" %>
    <%= f.text_area :option2_details %>
  </div>
  <div class="actions">
      <%= f.submit "Continue" %>
      <%# or <%= link_to "Skip", next_wizard_path %> %>
  </div>
<% end %>
    