
<%= form_with model: @option do |f| %>

    <% if @option.errors.any? %>
    <div class="alert alert-danger alert-dismissable fade show mt-3">
      <h5><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved</h5>
      <ul>
        <% @option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <h5>Option </h5>
  <div class="field">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :title %>
    <%= f.label :title, "Title should be one word", class: "text-muted" %>
  </div>
  <div class="field">
    <%= f.label :amount, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description, class: "col-sm-2 col-form-label" %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
      <%= f.submit "Save" %>
  </div>
<% end %>