<div class="container mt-5">
  <%= form_with model: @option do |f| %>

    <%= render "shared/validation", temp: @option, name: "option" %>

    <div class="field input-group mb-3">
      <%= f.label :title, class: "col-sm-2 col-form-label" %>
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>
    <div class="field input-group mb-3">
      <%= f.label :amount, class: "col-sm-2 col-form-label" %>
      <%= f.text_field :amount %>
    </div>
    <div class="field input-group mb-3">
      <%= f.label :description, class: "col-sm-2 col-form-label" %>
      <%= f.text_area :description %>
    </div>

    <div class="actions ml-3">
        <%= f.submit "Save" %>

        <%# logic for "Skip" or "Back" link when creating an option %>
        <% if !params[:project_id] %>
          <%= link_to "Skip", projects_path, class: "ml-3" %>
        <% else %>
          <%= link_to "Back", project_path(params[:project_id]), class: "ml-3" %>
        <% end %>
    </div>
  <% end %>
</div>