
<%= form_with model: @option do |f| %>

  <%= render "shared/validation", temp: @option, name: "option" %>

  <h5>Option </h5>
  <div class="field">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :title %>
    <%= f.label :title, "Title should be one word", class: "text-muted" %>
  </div>
  <div class="field">
    <%= f.label :amount, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description, class: "col-sm-2 col-form-label" %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
      <%= f.submit "Save" %>
  </div>
<% end %>