<div class="option-box">
  <h3>Options</h3>
  <% if user_signed_in? && current_user.id == @project.user_id %>
    <p><%= link_to "New Option", new_option_path(project_id: @project.id) %></p>
  <% end %>
</div>
<hr class="divider-class">

<% @option.each do |option| %>
  <div class="option-box">
    <h5><%= format_text(option.title) %></h5>
    <div>
      <% if user_signed_in? && current_user.id == @project.user_id %>
        <%= link_to "Edit", edit_option_path(id: option.id), class: "mr-3" %>
        <%= link_to "Delete", destroy_option_path(option.id), method: :delete, data: {confirm: "Are you sure?"}, class: "mr-3" %>
      <% end %>
    </div>
  </div>
  <ul>
    <li>$<%= option.amount %></li>
    <li><%= option.description.capitalize %></li>
  </ul>
<% end %>
