<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top justify-content-between">
  <%= link_to "iFund", root_path, class: "navbar-brand" %>
  <ul class="nav justify-content-between">
    <li class="nav-item">
      <%= link_to "Discover", projects_path, class: "nav-link text-muted" %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "New Project", new_project_path, class: "nav-link text-muted" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link text-muted" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Log In", new_user_session_path, class: "nav-link text-muted" %>
      </li>
    <% end %>
  </ul>
</nav>