<div class="container">
  <%= form_with model: @project, local: true do |f| %>

  <% if @project.errors.any? %>
    <div class="alert alert-error alert-dismissable fade show">
      <h3><%= pluralize(@project.errors.count, "error") %> prohibited this listing from being saved</h3>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :title, class: "col-sm-2 col-form-label" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :category_id, class: "col-sm-2 col-form-label" %>
      <%= f.select :category_id, @categories.map {|c| [format_text(c.name), c.id]} %>
    </div>
    <div class="field">
      <%= f.label :start_date, class: "col-sm-2 col-form-label" %>
      <%= f.date_field :start_date %>
    </div>
    <div class="field">
      <%= f.label :due_date, class: "col-sm-2 col-form-label" %>
      <%= f.date_field :due_date %>
    </div>
    <div class="field">
      <%= f.label :goal_amount, class: "col-sm-2 col-form-label" %>
      <%= f.text_field :goal_amount %>
    </div>
    <div class="field">
      <%= f.label :description, class: "col-md-2 col-form-label" %>
      <%= f.text_area :description, size: "40x10" %>
    </div>
    <div class="field">
      <%= f.label :picture, class: "col-md-2 col-form-label" %>
      <%= f.file_field :picture, accept: "image/png, image/jpg, image/jpeg" %>
    </div>

    <div class="actions">
      <%= f.submit "Continue" %>
    </div>
  <% end %>
</div>