<h1 class="text-center mt-5">Discover Projects</h1>
<section class="container mt-5">
  <div class="sorting links">
    <span>Sort: </span>
    <%= link_to "#{format_text("ending soon")}", sort: "ending soon", class: "mr-3 ml-3" %>
    <%= link_to "#{format_text("need your support")}", sort: "need your support", class: "mr-3 ml-3" %>
  </div>
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4" id="index-main-container">
    <% @projects.each do |project| %>
      <div class="col mb-4">
        <%= link_to project_path(project.id), class: "text-decoration-none" do %>
          <div class="card border-dark h-100">
            <%= render "picture", temp: project %>
            
            <div class="card-body">
              <h5 class="text-dark"><%= format_text(project.title)%></h5>
              <%= render "badges", temp: project %>
              <%= render "progress", temp: project %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>