<section class="container">
  <% if user_signed_in? && current_user.id == @project.user_id %>
    <div class="links" style="display: flex; justify-content: flex-end;">
      <%= link_to "Edit", edit_project_path(@project.id), class: "mr-3" %>
      <%= link_to "Delete", destroy_project_path(@project.id), method: :delete, data: {confirm: "Are you sure?"}, class: "mr-3" %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col mt-5">
      <%= render "picture", temp: @project %>
    </div>
    <div class="col mt-5">
      <h1><%= format_text(@project.title) %></h1>
      <h3><%= format_price(@project.total_amount) %> </h3>
      <p>raised of <%= format_price(@project.goal_amount) %> goal</p>
      <p><%= @total_supporters %> supporters</p>
      <p class="badge badge-pill badge-info"><%= @categories.find(@project.category_id).name %></p>
      <p>Start Date: <%= @project.start_date %></p>
      <p>Due Date: <%= @project.due_date %></p>
    
      <p><%= ((@project.due_date) - (@project.start_date)).to_i %> days to go</p>

      <% if !user_signed_in? %>
        <%= button_to "Login to Support", new_user_session_path, class: "btn btn-info" %>
      <% else %>
        <div>
          <%= form_with url: support_session_path(id: @project.id) do |f| %>
            <div class="field">
              <%= f.label :price, "Customise your pledge:" %>
              <%= f.text_field :price %>
            </div>

            <% @option.each do |option| %>
              <div class="field">
                <%= f.label :price, option.amount, class: "form-label mr-1" %>
                <%= f.radio_button :price, option.amount, class: "mr-2" %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.button "Support", class: "btn btn-primary", data: {disable_with: "Loading..."} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="w-100"></div>
    
    <div class="col mt-5">
      <p><%= @project.description%></p>
    </div>

    <div class="col mt-5">
      <%= render "options/show" %>
    </div>
  </div>
</section>