<section class="container">
  <% if user_signed_in? && current_user.id == @project.user_id %>
    <div class="links" style="display: flex; justify-content: flex-end;">
      <%= link_to "Edit", edit_project_path(@project.id), class: "mr-3" %>
      <%= link_to "Delete", destroy_project_path(@project.id), method: :delete, data: {confirm: "Are you sure?"}, class: "mr-3" %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col mt-5">
      <%= render "picture", temp: @project %>
    </div>
    <div class="col mt-5">
      <h1><%= @project.title %></h1>
      <h3>Goal: <%= @project.goal_amount %></h3>
      <p class="badge badge-pill badge-info"><%= @categories.find(@project.category_id).name %></p>
      <p>Start Date: <%= @project.start_date %></p>
      <p>Due Date: <%= @project.due_date %></p>
      <p>D-<%= ((@project.due_date) - (@project.start_date)).to_i %></p>

      <div>
        <%= form_with url: support_session_path(id: @project.id) do |f| %>
          <div class="field">
            <%= f.label :price, "Customise your pledge:" %>
            <%= f.text_field :price %>
          </div>

          <% @option.each do |option| %>
            <div class="field">
              <%= f.label :price, option.amount, class: "form-label mr-1" %>
              <%= f.radio_button :price, option.amount, class: "mr-2" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.button "Support", 
              class: "btn btn-primary",
              data: {disable_with: "Loading..."}
            %>
          </div>
        <% end %>
<%#         
        <%= button_to "Check Out",
          support_session_path,
          remote: true,
          method: :post,
          params: {id: @project.id, price: 6500},
          class: "btn btn-primary",
          data: {disable_with: "Loading..."} %>
      </div>
    </div>
    <div class="w-100"></div>
    
    <div class="col mt-5">
      <p><%= @project.description%></p>
    </div>

    <div class="col mt-5">
      <%= render "options/show" %>
      
    </div>
  </div>
</section>

<script>
  // let pay_btn = document.querySelectorAll('.btn');
  // pay_btn.addEventListener('click', () => {
  //   let get_price = document.getElementById('price').value;
  //   console.log('clicked!!!!');
  //   "<%= @project.amount %>": get_price;
  // });
  
</script>