<section class="container">
  <div class="links" style="display: flex; justify-content: flex-end;">
    <%= link_to "Edit", edit_project_path(@project.id), class: "mr-3" %>
    <%= link_to "Delete", destroy_project_path(@project.id), method: :delete, data: {confirm: "Are you sure?"}, class: "mr-3" %>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag @project.picture, alt: @project.title, class: "thumbnail card-img top" if @project.picture.attached? %>
    </div>
    <div class="col">
      <h1><%= @project.title %></h1>
      <h3>Goal: <%= @project.goal_amount %></h3>
      <p class="badge badge-pill badge-info"><%= @categories.find(@project.category_id).name %></p>
      <p>Start Date: <%= @project.start_date %></p>
      <p>Due Date: <%= @project.due_date %></p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <p><%= @project.description%></p>
    </div>
    <div class="col">options</div>
  </div>
</section>